 <!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>BanjoTab</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./banjo.css">
<style>
</style>
<body>
<div class="header">
 <h1>Banjo Tabs</h1>
</div>
<form id="song-form" enctype="multipart/form-data" action="http://localhost:3000/song" method="POST">
 <label for="name">Name of Tab</label>
 <br>
 <input class="login-input" type="text" id="name" name="name"></input>
 <br><br>
 <!-- how do I make a list for the altnames? -->
 <label for="artist">Artist or Composer</label>
 <br>
 <input class="login-input" type="text" id="artist" name="artist"></input>
 <br><br>
 <label for="tabfound">Was the tab found?</label>
 <br>
 <input class="tab-fd" type="checkbox" id="tabfound" name="tabfound">yes</input>
 <br><br>
 <!-- add a link here to requirements for tabs for optimal internet user viewing exp -->
 <p>Please upload a pdf tab file along with anyother format in this list</p>
 <label for="tabs-files">upload tabs</label>
 <br>
 <!-- handle the mime type with the backend node server to make sure it is actually a normal file -->
 <input type="file" id="tabsfiles" name="tabfiles" multiple></input>
 <br><br>
 <label for="tabs-audio">upload a recording of the tab</label>
 <br>
 <input type="file" id="tabsaudio" accept="audio/*" name="tabsaudio" multiple></input>
 <!-- decide if a hidden input makes sense right here or not -->
 <br><br>
 <label for="description">Write a few comments or description of the song/tab</label>
 <br>
 <textarea class="text-ar" id="description" rows="4" cols="50" name="description"></textarea>
 <br><br>
 <button  class="generic-btn" type="submit" id="addtab">Add Tab</button>
 </form>
<script src="fileHandler.js"></script> 
</body>
</html>
