<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./banjo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="./clusterize.css" rel="stylesheet">
    <script src="./clusterize.min.js"></script>
    <title>BanjoTab</title>
  </head>
  <body>
      <div class="header">
        <h1 class="title">Banjo Tabs</h1>
      </div>
      <label for="tab-search">Search Unapproved Tabs</label>
      <br>
      <input  class="search" type="search" id="tab-search" name="q"/>
      <button class="search-btn" id="form"></button>
      <div id="outer-list">
      <div id="scrollArea" class="clusterize-scroll">
        <table class="songs-table">
            <tbody id="contentArea" class="clusterize-content">
            </tbody>
        </table>
      </div>
      </div>
      <script type="text/javascript" src="./approval.js"></script>
  </body>
</html>
