 <!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>BanjoTab</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="./banjo.css">
<style>
</style>
<script src=""></script>
<body>
<div class="header">
 <h1>Banjo Tabs</h1>
</div>
 <label for="username">Username</label>
 <br>
 <input type="text" id="username"></input>
 <br>
 <label for="password">Password</label>
 <br>
 <input type="password" id="password"></input>
 <br>
 <p id="error"></p>
 <button type="button" id="login">LOGIN</button>
 <br>
 <button type="button" onclick="window.location.href ='./signup.html';" >REGISTER</button>
 <script type="text/javascript" src="./signin.js"></script>
</body>
</html> 
