 <!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>BanjoTab</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./banjo.css">
<style>
</style>
<script src=""></script>
<body>
<div class="header">
 <h1>Banjo Tabs</h1>
</div>
 <div class="login-form">
 <label for="username">Username</label>
 <br>
 <input class="login-input" type="text" id="username" required></input>
 <br><br>
 <label for="password">Password</label>
 <br>
 <input class="login-input" type="password" id="password" required></input>
 <br>
 <p id="error"></p>
 <button class="generic-btn" type="button" id="login">LOGIN</button>
 <br><br>
 <button class="generic-btn" type="button" onclick="window.location.href ='./signup.html';" >REGISTER</button>
 <script type="text/javascript" src="./signin.js"></script>
</body>
</html> 
