 <!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>BanjoTab</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="./banjo.css">
<style>
</style>
<body>
<div class="header">
 <h1>Banjo Tabs</h1>
</div>
 <label for="email">Email</label>
 <br>
 <input type="text" id="email"></input>
 <br>
 <label for="username">Username</label>
 <br>
 <input type="text" id="username"></input>
 <br>
 <label for="password">Password</label>
 <br>
 <input type="password" id="password"></input>
 <br>
 <label for="password-confirm">Confirm Password</label>
 <br>
 <input type="password" id="password-confirm"></input>
 <br>
 <p id="error-msg">
 <button type="button" id="register">REGISTER</button>
<script type="text/javascript" src="./signin.js"></script>
</body>
</html>
